services:
  garage:
      image: dxflrs/garage:v2.1.0
      container_name: garage
      volumes:
        - ./garage.dev.toml:/etc/garage.toml:ro
        - ./garage/garage_meta:/var/garage/meta
        - ./garage/garage_data:/var/garage/data
        - ./garage/snapshots:/var/garage/snapshots
      ports:
        - 3900:3900
        - 3901:3901
        - 3902:3902
        - 3903:3903
      networks: [cross-network]
  garage-ui:
    image: khairul169/garage-webui:latest
    container_name: garage-ui
    volumes:
      - ./garage.dev.toml:/etc/garage.toml:ro
    environment:
      API_BASE_URL: "http://garage:3903"
      S3_ENDPOINT_URL: "http://garage:3900"
    ports:
      - 3909:3909
    depends_on: [garage]
    networks: [cross-network]

networks:
  cross-network:
    driver: bridge