services:
  sim-alpine:
      image: node:24-alpine
      volumes:
      - .:/app
      working_dir: /app
      command: sh -c "npm run start:docker"
      ports:
        - 3001:3000
      networks: [cross-network]
  sim-debian:
      image: node:24-bookworm-slim
      volumes:
      - .:/app
      working_dir: /app
      command: sh -c "npm run start:docker"
      ports:
        - 3002:3000
      networks: [cross-network]
  garage:
      image: dxflrs/garage:v2.1.0
      container_name: garage
      volumes:
        - ./garage.dev.toml:/etc/garage.toml:ro
        - ./garage/garage_meta:/var/garage/meta
        - ./garage/garage_data:/var/garage/data
        - ./garage/snapshots:/var/garage/snapshots
      ports:
        - 3900:3900
        - 3901:3901
        - 3902:3902
        - 3903:3903
      networks: [cross-network]
  garage-ui:
    image: khairul169/garage-webui:latest
    container_name: garage-ui
    volumes:
      - ./garage.dev.toml:/etc/garage.toml:ro
    environment:
      API_BASE_URL: "http://garage:3903"
      S3_ENDPOINT_URL: "http://garage:3900"
      AUTH_USER_PASS: "admin:$$2y$$10$$EFSJVCbj9SettqwmQ2LhxeUfYPZDFLYQQsgjhOjgWsE9osAEzSIPe"
    ports:
      - 3909:3909
    depends_on: [garage]
    networks: [cross-network]

networks:
  cross-network:
    driver: bridge