services:
  garage:
      image: dxflrs/garage:v2.1.0
      volumes:
        - ./garage.dev.toml:/etc/garage.toml:ro
        - ./garage/garage_meta:/var/garage/meta
        - ./garage/garage_data:/var/garage/data
        - ./garage/snapshots:/var/garage/snapshots
      ports:
        - 3900:3900
        - 3901:3901
        - 3902:3902
        - 3903:3903
      networks: [cross-network]

  cross-node:
      build:
        context: .
        dockerfile: ./Dockerfile
      env_file:
        - ./.env
      environment:
        - NODE_ENV=production
        - TZ=America/Lima
        - S3_ENDPOINT=http://garage:3900
        - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
        - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
        - S3_BUCKET_NAME=${S3_BUCKET_NAME}
        - S3_REGION=${S3_REGION}
      command: ["main.js"]
      ports:
        - 8900:${APP_PORT}
      depends_on: [garage]
      networks: [cross-network]

  garage-ui:
    image: khairul169/garage-webui:latest
    volumes:
      - ./garage.dev.toml:/etc/garage.toml:ro
    environment:
      API_BASE_URL: "http://garage:3903"
      S3_ENDPOINT_URL: "http://garage:3900"
      AUTH_USER_PASS: "admin:$$2y$$10$$EFSJVCbj9SettqwmQ2LhxeUfYPZDFLYQQsgjhOjgWsE9osAEzSIPe"
    ports:
      - 3909:3909
    depends_on: [garage]
    networks: [cross-network]

networks:
  cross-network:
    driver: bridge